services:
  sc_php:
    image: special-c/sc_php:prod
    build:
      context: ./php-world
      dockerfile: docker/Dockerfile
      args:
        APP_ENV: ${APP_ENV}
    env_file:
      - .env
    depends_on:
      sc_mysql:
        condition: service_healthy
      sc_redis:
        condition: service_healthy
    networks:
      - isolated

  sc_nginx:
    image: special-c/sc_nginx:prod
    build:
      context: ./php-world
      dockerfile: docker/Dockerfile.nginx
    ports:
      - "80:80"
    depends_on:
      - sc_php
    networks:
      - public
      - isolated

  sc_mysql:
    image: mysql:8.4.4
    restart: unless-stopped
    command:
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_0900_ai_ci
    environment:
      TZ: ${TZ}
      MYSQL_DATABASE: php_creativity
      MYSQL_USER: basic
      MYSQL_PASSWORD: basic
      MYSQL_ROOT_PASSWORD: root
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-u", "root", "-proot"]
      interval: 22s
      timeout: 11s
      retries: 7
      start_period: 80s
    volumes:
      - sc_db_mysql:/var/lib/mysql
    networks:
      - isolated

  sc_redis:
    image: redis:7.4.1-alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 22s
      timeout: 11s
      retries: 7
      start_period: 42s
    volumes:
      - sc_cache_redis:/data
    networks:
      - isolated

  sc_scheduler:
    image: special-c/sc_scheduler:prod
    build:
      context: ./php-world
      dockerfile: docker/Dockerfile
      args:
        APP_ENV: ${APP_ENV}
    env_file:
      - .env
    depends_on:
      sc_php:
        condition: service_started
      sc_mysql:
        condition: service_healthy
      sc_redis:
        condition: service_healthy
    command: ["php", "artisan", "schedule:work"]
    healthcheck:
      test: ["CMD-SHELL", "ps aux | grep '[p]hp artisan schedule:work'"]
      interval: 22s
      timeout: 11s
      retries: 7
      start_period: 42s
    restart: unless-stopped
    networks:
      - isolated

  sc_llm:
    image: special-c/sc_llm:prod
    # container_name: sc_llm
    build:
      context: ./llm
      dockerfile: docker/Dockerfile
      args:
        APP_ENV: ${APP_ENV}
        TZ: ${TZ}
    volumes:
      - sc_hugging_face:/hugging_face_cache
    depends_on:
      sc_php:
        condition: service_started
      sc_mysql:
        condition: service_healthy
      sc_redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "python3", "--version"]
      interval: 31s
      timeout: 8s
      retries: 4
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      HF_HOME: /hugging_face_cache
      HF_TOKEN: ${HF_TOKEN}
      OA_TOKEN: ${OA_TOKEN}
    networks:
      - public
      - isolated

volumes:
  sc_db_mysql:
  sc_cache_redis:
  sc_hugging_face:
    name: cs_hugging_face_cache

networks:
  public:
    driver: bridge
  isolated:
    driver: bridge
    internal: true
