services:
  sc_php:
    image: special-c/sc_php:main
    # container_name: sc_php
    build:
      context: ./php-world
      dockerfile: docker/Dockerfile
      args:
        APP_ENV: ${APP_ENV}
    env_file:
      - .env
    volumes:
      - ./php-world/app:/app/app:delegated
      - ./php-world/bootstrap:/app/bootstrap:delegated
      - sc_php_bootstrap_cache_volume_php:/app/bootstrap/cache
      - ./php-world/config:/app/config:delegated
      - ./php-world/database:/app/database:delegated
      - ./php-world/public:/app/public:delegated
      - ./php-world/routes:/app/routes:delegated
      - ./php-world/tests:/app/tests:delegated
    depends_on:
      sc_mysql:
        condition: service_healthy
      sc_redis:
        condition: service_healthy

  sc_nginx:
    image: nginx:1.27.3-alpine
    ports:
      - "22080:80"
    volumes:
      - ./php-world/public:/app/public:ro
      - ./php-world/docker/linux/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - sc_php

  sc_mysql:
    image: mysql:8.4.4
    restart: unless-stopped
    command:
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_0900_ai_ci
    environment:
      TZ: ${TZ}
      MYSQL_DATABASE: php_creativity
      MYSQL_USER: basic
      MYSQL_PASSWORD: basic
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "22160:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-u", "root", "-proot"]
      interval: 22s
      timeout: 11s
      retries: 7
      start_period: 80s
    volumes:
      - sc_db_mysql_volume:/var/lib/mysql

  sc_redis:
    image: redis:7.4.1-alpine
    ports:
      - "22161:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 22s
      timeout: 11s
      retries: 7
      start_period: 42s
    volumes:
      - sc_cache_redis_volume:/data

  sc_scheduler:
    image: special-c/sc_scheduler:main
    build:
      context: ./php-world
      dockerfile: docker/Dockerfile
      args:
        APP_ENV: ${APP_ENV}
    env_file:
      - .env
    volumes:
      - ./php-world/app:/app/app:delegated
      - ./php-world/bootstrap:/app/bootstrap:delegated
      - sc_php_bootstrap_cache_volume_scheduler:/app/bootstrap/cache
      - ./php-world/config:/app/config:delegated
      - ./php-world/database:/app/database:delegated
      - ./php-world/public:/app/public:delegated
      - ./php-world/routes:/app/routes:delegated
      - ./php-world/tests:/app/tests:delegated
    depends_on:
      sc_php:
        condition: service_started
      sc_mysql:
        condition: service_healthy
      sc_redis:
        condition: service_healthy
    command: ["php", "artisan", "schedule:work"]
    restart: unless-stopped

  sc_llm:
    image: special-c/sc_llm:main
    # container_name: sc_llm
    build:
      context: ./llm
      dockerfile: docker/Dockerfile
      args:
        APP_ENV: ${APP_ENV}
        TZ: ${TZ}
    ports:
      - "22111:8000"
    volumes:
      - ./llm/src:/app/src:delegated
      - ./llm/main.py:/app/main.py:delegated
      - ./llm/config.py:/app/config.py:delegated
      - sc_hugging_face:/hugging_face_cache
    depends_on:
      sc_php:
        condition: service_started
      sc_mysql:
        condition: service_healthy
      sc_redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "python3", "--version"]
      interval: 31s
      timeout: 8s
      retries: 4
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    environment:
      HF_HOME: /hugging_face_cache
      HF_TOKEN: ${HF_TOKEN}
      OA_TOKEN: ${OA_TOKEN}

volumes:
  sc_db_mysql_volume:
    name: sc_dev_db_mysql
  sc_cache_redis_volume:
    name: sc_dev_cache_redis
  sc_php_bootstrap_cache_volume_php:
    name: sc_dev_bootstrap
  sc_php_bootstrap_cache_volume_scheduler:
    name: sc_dev_bootstrap_scheduler
  sc_hugging_face:
    name: cs_hugging_face_cache
